table th {
    cursor: pointer;
}

body > button.btn-primary {
    display: inherit;
}

table thead th {
    position: relative;
    background-image: none !important;
}

table thead th.sorting:after,
table thead th.sorting_asc:after,
table thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table thead th.sorting_asc:after {
    content: "\f0de";
}
table thead th.sorting_desc:after {
    content: "\f0dd";
}